{
  "openapi": "3.1.1",
  "info": {
    "title": "Uptime API",
    "version": "1",
    "description": "Monitor websites, APIs, DNS, TCP services, cron jobs and user flows."
  },
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "servers": [
    {
      "url": "https://uptime.sergiodxa.com"
    }
  ],
  "paths": {
    "/api/v1/status": {
      "get": {
        "operationId": "statusShow",
        "summary": "Show the team's overall status",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "The team's status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/TeamStatus"
                        }
                      },
                      "required": [
                        "status"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:read"
            ]
          }
        ]
      }
    },
    "/api/v1/monitors": {
      "get": {
        "operationId": "monitorsIndex",
        "summary": "List HTTP monitors",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "number",
                "string"
              ],
              "minimum": 1,
              "maximum": 200,
              "description": "Results per page (default 50)"
            },
            "description": "Results per page (default 50)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page to fetch, from a `Link` header"
            },
            "description": "Page to fetch, from a `Link` header"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the team's monitors",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "`next` and `prev` page URLs (RFC 8288), when those pages exist"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitors": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Monitor"
                          }
                        }
                      },
                      "required": [
                        "monitors"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:read"
            ]
          }
        ]
      },
      "post": {
        "operationId": "monitorsCreate",
        "summary": "Create an HTTP monitor",
        "tags": [
          "HTTP monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE",
                      "HEAD"
                    ],
                    "default": "HEAD"
                  },
                  "expectedStatus": {
                    "type": "number",
                    "minimum": 100,
                    "maximum": 599,
                    "default": 200
                  },
                  "intervalSeconds": {
                    "type": "number",
                    "minimum": 60,
                    "maximum": 3600,
                    "default": 60
                  },
                  "degradedAfterMs": {
                    "type": "number",
                    "minimum": 1000,
                    "maximum": 30000,
                    "default": 5000
                  },
                  "timeoutSeconds": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 60,
                    "default": 10
                  },
                  "locationHint": {
                    "type": "string",
                    "enum": [
                      "wnam",
                      "enam",
                      "sam",
                      "weur",
                      "eeur",
                      "apac",
                      "oc",
                      "afr",
                      "me"
                    ],
                    "default": "wnam"
                  },
                  "sslMonitoringEnabled": {
                    "type": "boolean",
                    "default": false
                  },
                  "sslExpiryWarningDays": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 365,
                    "default": 30
                  }
                },
                "required": [
                  "name",
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitor": {
                          "$ref": "#/components/schemas/Monitor"
                        }
                      },
                      "required": [
                        "monitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The Idempotency-Key header is not valid",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/IdempotencyKeyInvalidProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyKeyInUse"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/monitors/stats": {
      "get": {
        "operationId": "monitorsStats",
        "summary": "Show stats across the team's HTTP monitors",
        "tags": [
          "HTTP monitors"
        ],
        "responses": {
          "200": {
            "description": "The team's stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "stats": {
                          "$ref": "#/components/schemas/MonitorStats"
                        }
                      },
                      "required": [
                        "stats"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:read"
            ]
          }
        ]
      }
    },
    "/api/v1/monitors/{monitorId}": {
      "get": {
        "operationId": "monitorShow",
        "summary": "Show an HTTP monitor",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitor": {
                          "$ref": "#/components/schemas/Monitor"
                        }
                      },
                      "required": [
                        "monitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:read"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "monitorPatch",
        "summary": "Update an HTTP monitor",
        "description": "An RFC 7396 JSON merge patch: send the members to change; `null` resets one to its default.",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "method": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE",
                      "HEAD",
                      null
                    ]
                  },
                  "expectedStatus": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 100,
                    "maximum": 599
                  },
                  "intervalSeconds": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 60,
                    "maximum": 3600
                  },
                  "degradedAfterMs": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 1000,
                    "maximum": 30000
                  },
                  "timeoutSeconds": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 60
                  },
                  "locationHint": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "wnam",
                      "enam",
                      "sam",
                      "weur",
                      "eeur",
                      "apac",
                      "oc",
                      "afr",
                      "me",
                      null
                    ]
                  },
                  "enabled": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "description": "`false` pauses checks"
                  },
                  "sslMonitoringEnabled": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "sslExpiryWarningDays": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 365
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "method": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE",
                      "HEAD",
                      null
                    ]
                  },
                  "expectedStatus": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 100,
                    "maximum": 599
                  },
                  "intervalSeconds": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 60,
                    "maximum": 3600
                  },
                  "degradedAfterMs": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 1000,
                    "maximum": 30000
                  },
                  "timeoutSeconds": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 60
                  },
                  "locationHint": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "wnam",
                      "enam",
                      "sam",
                      "weur",
                      "eeur",
                      "apac",
                      "oc",
                      "afr",
                      "me",
                      null
                    ]
                  },
                  "enabled": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "description": "`false` pauses checks"
                  },
                  "sslMonitoringEnabled": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "sslExpiryWarningDays": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 365
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitor": {
                          "$ref": "#/components/schemas/Monitor"
                        }
                      },
                      "required": [
                        "monitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:write"
            ]
          }
        ]
      },
      "put": {
        "operationId": "monitorUpdate",
        "summary": "Update an HTTP monitor (PUT)",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE",
                      "HEAD"
                    ]
                  },
                  "expectedStatus": {
                    "type": "number",
                    "minimum": 100,
                    "maximum": 599
                  },
                  "intervalSeconds": {
                    "type": "number",
                    "minimum": 60,
                    "maximum": 3600
                  },
                  "degradedAfterMs": {
                    "type": "number",
                    "minimum": 1000,
                    "maximum": 30000
                  },
                  "timeoutSeconds": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 60
                  },
                  "locationHint": {
                    "type": "string",
                    "enum": [
                      "wnam",
                      "enam",
                      "sam",
                      "weur",
                      "eeur",
                      "apac",
                      "oc",
                      "afr",
                      "me"
                    ]
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "`false` pauses checks"
                  },
                  "sslMonitoringEnabled": {
                    "type": "boolean"
                  },
                  "sslExpiryWarningDays": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 365
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitor": {
                          "$ref": "#/components/schemas/Monitor"
                        }
                      },
                      "required": [
                        "monitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:write"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "monitorDestroy",
        "summary": "Delete an HTTP monitor",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor is deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "deleted"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/monitors/{monitorId}/stats": {
      "get": {
        "operationId": "monitorStats",
        "summary": "Show an HTTP monitor's stats",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor's stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "stats": {
                          "$ref": "#/components/schemas/MonitorStats"
                        }
                      },
                      "required": [
                        "stats"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:read"
            ]
          }
        ]
      }
    },
    "/api/v1/monitors/{monitorId}/results": {
      "get": {
        "operationId": "monitorResults",
        "summary": "List an HTTP monitor's check results",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "number",
                "string"
              ],
              "minimum": 1,
              "maximum": 200,
              "description": "Results per page (default 50)"
            },
            "description": "Results per page (default 50)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page to fetch, from a `Link` header"
            },
            "description": "Page to fetch, from a `Link` header"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of check results, newest first",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "`next` and `prev` page URLs (RFC 8288), when those pages exist"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MonitorResult"
                          }
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The request is malformed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/BadRequestProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:read"
            ]
          }
        ]
      }
    },
    "/api/v1/monitors/{monitorId}/alert-events": {
      "get": {
        "operationId": "monitorAlertEvents",
        "summary": "List an HTTP monitor's alert deliveries",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "number",
                "string"
              ],
              "minimum": 1,
              "maximum": 200,
              "description": "Results per page (default 50)"
            },
            "description": "Results per page (default 50)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page to fetch, from a `Link` header"
            },
            "description": "Page to fetch, from a `Link` header"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of alert deliveries, newest first",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "`next` and `prev` page URLs (RFC 8288), when those pages exist"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "events": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AlertEvent"
                          }
                        }
                      },
                      "required": [
                        "events"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The request is malformed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/BadRequestProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "alerts:read"
            ]
          }
        ]
      }
    },
    "/api/v1/monitors/{monitorId}/content-checks": {
      "get": {
        "operationId": "monitorContentChecksIndex",
        "summary": "List an HTTP monitor's content checks",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "number",
                "string"
              ],
              "minimum": 1,
              "maximum": 200,
              "description": "Results per page (default 50)"
            },
            "description": "Results per page (default 50)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page to fetch, from a `Link` header"
            },
            "description": "Page to fetch, from a `Link` header"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of content checks",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "`next` and `prev` page URLs (RFC 8288), when those pages exist"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "contentChecks": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ContentCheck"
                          }
                        }
                      },
                      "required": [
                        "contentChecks"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The request is malformed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/BadRequestProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:read"
            ]
          }
        ]
      },
      "post": {
        "operationId": "monitorContentChecksCreate",
        "summary": "Add a content check to an HTTP monitor",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "contains",
                      "not_contains",
                      "regex"
                    ]
                  },
                  "value": {
                    "type": "string",
                    "minLength": 1
                  },
                  "caseSensitive": {
                    "type": "boolean",
                    "default": false
                  },
                  "isEnabled": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "type",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created content check",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "contentCheck": {
                          "$ref": "#/components/schemas/ContentCheck"
                        }
                      },
                      "required": [
                        "contentCheck"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The Idempotency-Key header is not valid",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/IdempotencyKeyInvalidProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyKeyInUse"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/monitors/{monitorId}/content-checks/{contentCheckId}": {
      "delete": {
        "operationId": "monitorContentCheckDestroy",
        "summary": "Delete a content check",
        "tags": [
          "HTTP monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mon_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          },
          {
            "name": "contentCheckId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^chk_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The content check is deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/backfill-daily-stats": {
      "post": {
        "operationId": "backfillDailyStatsCreate",
        "summary": "Queue a daily-stats rollup",
        "tags": [
          "HTTP monitors"
        ],
        "responses": {
          "202": {
            "description": "The rollup is queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "queued"
                        }
                      },
                      "required": [
                        "status"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKey": [
              "monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/dns-monitors": {
      "get": {
        "operationId": "dnsMonitorsIndex",
        "summary": "List DNS monitors",
        "tags": [
          "DNS monitors"
        ],
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "number",
                "string"
              ],
              "minimum": 1,
              "maximum": 200,
              "description": "Results per page (default 50)"
            },
            "description": "Results per page (default 50)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page to fetch, from a `Link` header"
            },
            "description": "Page to fetch, from a `Link` header"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the team's DNS monitors, newest first",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "`next` and `prev` page URLs (RFC 8288), when those pages exist"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "dnsMonitors": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DnsMonitor"
                          }
                        }
                      },
                      "required": [
                        "dnsMonitors"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:read"
            ]
          }
        ]
      },
      "post": {
        "operationId": "dnsMonitorsCreate",
        "summary": "Create a DNS monitor",
        "tags": [
          "DNS monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "intervalSeconds": {
                    "type": "number",
                    "minimum": 900,
                    "maximum": 86400,
                    "default": 86400
                  },
                  "isEnabled": {
                    "type": "boolean",
                    "default": true
                  },
                  "zoneFile": {
                    "type": "string",
                    "description": "A BIND zone file, parsed once; only the records it declares persist"
                  }
                },
                "required": [
                  "name",
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created monitor and what discovery imported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "dnsMonitor": {
                          "$ref": "#/components/schemas/DnsMonitor"
                        },
                        "discovery": {
                          "$ref": "#/components/schemas/DnsDiscovery"
                        }
                      },
                      "required": [
                        "dnsMonitor",
                        "discovery"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The team has reached its limit for this resource; The Idempotency-Key header is not valid",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/LimitExceededProblem"
                    },
                    {
                      "$ref": "#/components/schemas/IdempotencyKeyInvalidProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyKeyInUse"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/dns-monitors/{dnsMonitorId}": {
      "get": {
        "operationId": "dnsMonitorShow",
        "summary": "Show a DNS monitor",
        "tags": [
          "DNS monitors"
        ],
        "parameters": [
          {
            "name": "dnsMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^dns_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "dnsMonitor": {
                          "$ref": "#/components/schemas/DnsMonitor"
                        }
                      },
                      "required": [
                        "dnsMonitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:read"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "dnsMonitorPatch",
        "summary": "Update a DNS monitor",
        "description": "An RFC 7396 JSON merge patch: send the members to change; `null` resets one to its default.",
        "tags": [
          "DNS monitors"
        ],
        "parameters": [
          {
            "name": "dnsMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^dns_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "intervalSeconds": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 900,
                    "maximum": 86400
                  },
                  "isEnabled": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "intervalSeconds": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 900,
                    "maximum": 86400
                  },
                  "isEnabled": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "dnsMonitor": {
                          "$ref": "#/components/schemas/DnsMonitor"
                        }
                      },
                      "required": [
                        "dnsMonitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:write"
            ]
          }
        ]
      },
      "put": {
        "operationId": "dnsMonitorUpdate",
        "summary": "Update a DNS monitor (PUT)",
        "tags": [
          "DNS monitors"
        ],
        "parameters": [
          {
            "name": "dnsMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^dns_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "intervalSeconds": {
                    "type": "number",
                    "minimum": 900,
                    "maximum": 86400
                  },
                  "isEnabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "dnsMonitor": {
                          "$ref": "#/components/schemas/DnsMonitor"
                        }
                      },
                      "required": [
                        "dnsMonitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:write"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "dnsMonitorDestroy",
        "summary": "Delete a DNS monitor",
        "tags": [
          "DNS monitors"
        ],
        "parameters": [
          {
            "name": "dnsMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^dns_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor is deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "deleted"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/dns-monitors/{dnsMonitorId}/results": {
      "get": {
        "operationId": "dnsMonitorResults",
        "summary": "List a DNS monitor's check results",
        "tags": [
          "DNS monitors"
        ],
        "parameters": [
          {
            "name": "dnsMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^dns_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "number",
                "string"
              ],
              "minimum": 1,
              "maximum": 200,
              "description": "Results per page (default 50)"
            },
            "description": "Results per page (default 50)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page to fetch, from a `Link` header"
            },
            "description": "Page to fetch, from a `Link` header"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of check results, newest first",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "`next` and `prev` page URLs (RFC 8288), when those pages exist"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DnsMonitorResult"
                          }
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The request is malformed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/BadRequestProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:read"
            ]
          }
        ]
      }
    },
    "/api/v1/dns-monitors/{dnsMonitorId}/records": {
      "get": {
        "operationId": "dnsMonitorRecordsIndex",
        "summary": "List a DNS monitor's tracked records",
        "tags": [
          "DNS monitors"
        ],
        "parameters": [
          {
            "name": "dnsMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^dns_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "number",
                "string"
              ],
              "minimum": 1,
              "maximum": 200,
              "description": "Results per page (default 50)"
            },
            "description": "Results per page (default 50)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page to fetch, from a `Link` header"
            },
            "description": "Page to fetch, from a `Link` header"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tracked records, by name, type and value",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "`next` and `prev` page URLs (RFC 8288), when those pages exist"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DnsMonitorRecord"
                          }
                        }
                      },
                      "required": [
                        "records"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The request is malformed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/BadRequestProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:read"
            ]
          }
        ]
      }
    },
    "/api/v1/dns-monitors/{dnsMonitorId}/records/{recordId}": {
      "patch": {
        "operationId": "dnsMonitorRecordUpdate",
        "summary": "Enable or decline a tracked DNS record",
        "description": "`isEnabled` is required and no other member is accepted; a merge patch reads the same as a JSON body.",
        "tags": [
          "DNS monitors"
        ],
        "parameters": [
          {
            "name": "dnsMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^dns_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^dnsrec_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isEnabled": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "isEnabled"
                ],
                "additionalProperties": false
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isEnabled": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "isEnabled"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "record": {
                          "$ref": "#/components/schemas/DnsMonitorRecord"
                        }
                      },
                      "required": [
                        "record"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "dns-monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/tcp-monitors": {
      "get": {
        "operationId": "tcpMonitorsIndex",
        "summary": "List TCP monitors",
        "tags": [
          "TCP monitors"
        ],
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "number",
                "string"
              ],
              "minimum": 1,
              "maximum": 200,
              "description": "Results per page (default 50)"
            },
            "description": "Results per page (default 50)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page to fetch, from a `Link` header"
            },
            "description": "Page to fetch, from a `Link` header"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the team's TCP monitors, newest first",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "`next` and `prev` page URLs (RFC 8288), when those pages exist"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitors": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TcpMonitor"
                          }
                        }
                      },
                      "required": [
                        "monitors"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "apiKey": [
              "tcp-monitors:read"
            ]
          }
        ]
      },
      "post": {
        "operationId": "tcpMonitorsCreate",
        "summary": "Create a TCP monitor",
        "tags": [
          "TCP monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "host": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "port": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "timeoutMs": {
                    "type": "number",
                    "minimum": 100,
                    "maximum": 60000,
                    "default": 5000
                  },
                  "intervalSeconds": {
                    "type": "number",
                    "minimum": 60,
                    "maximum": 86400,
                    "default": 60
                  },
                  "isEnabled": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "name",
                  "host",
                  "port"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitor": {
                          "$ref": "#/components/schemas/TcpMonitor"
                        }
                      },
                      "required": [
                        "monitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation; The Idempotency-Key header is not valid",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorProblem"
                    },
                    {
                      "$ref": "#/components/schemas/IdempotencyKeyInvalidProblem"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyKeyInUse"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          }
        },
        "security": [
          {
            "apiKey": [
              "tcp-monitors:write"
            ]
          }
        ]
      }
    },
    "/api/v1/tcp-monitors/{tcpMonitorId}": {
      "get": {
        "operationId": "tcpMonitorShow",
        "summary": "Show a TCP monitor",
        "tags": [
          "TCP monitors"
        ],
        "parameters": [
          {
            "name": "tcpMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^tcpm_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitor": {
                          "$ref": "#/components/schemas/TcpMonitor"
                        }
                      },
                      "required": [
                        "monitor"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requestId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "requestId",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKey": [
              "tcp-monitors:read"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "tcpMonitorPatch",
        "summary": "Update a TCP monitor",
        "description": "An RFC 7396 JSON merge patch: send the members to change; `null` resets one to its default.",
        "tags": [
          "TCP monitors"
        ],
        "parameters": [
          {
            "name": "tcpMonitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^tcpm_[0-7][0-9a-hjkmnp-tv-z]{25}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "host": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "port": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "timeoutMs": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 100,
                    "maximum": 60000
                  },
                  "intervalSeconds": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 60,
                    "maximum": 86400
                  },
                  "isEnabled": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "host": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "port": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "timeoutMs": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 100,
                    "maximum": 60000
                  },
                  "intervalSeconds": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 60,
                    "maximum": 86400
                  },
[...]
