# OAuth Client credentials for auth.sergiodxa.com
CLIENT_ID=
CLIENT_SECRET=

# Polar.sh API token for subscription management
POLAR_ACCESS_TOKEN=

# Resend API token for sending emails
RESEND_API_TOKEN=

# Secret used to sign session cookies
COOKIE_SESSION_SECRET=
